{"filter":false,"title":".gitignore","tooltip":"/workspace/lch/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":180,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":11,"state":"start","mode":"ace/mode/ini"}},"timestamp":1517502730021,"hash":"402cc1ba7218f94efa8aa51ece2e8fefc262eb4e"}