{{!< default}}
<div class="container">
	<div class="row text-center">
			<div class="col-md-12">
	<h1 class="welcome-text">Welcome</h1>
	</div>
	</div>
	      <div class="row">
      	<div class="col-md-offset-2 col-md-4 text-left">
      		<p>This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.
      		This website is about the Letterkenny Community Heritage Group.</p>
      	</div>
      	
      	<div class="col-md-6 text-left ">
      		    	<div>
				<img src="images/hbank.jpg" style="height:200px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
			</div>
      	</div>
      </div>
</div>
